<ion-header>
  <ion-toolbar color="primary">
    <ion-title>About</ion-title>

    <ion-buttons slot="primary">
      <ion-button icon-only (click)="logout()">
        <ion-icon name="log-out"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-text-center">
    <img src="assets/img/appicon.svg" />
    <h1>Ionic Auth Connect w/ ID Vault</h1>
    <h2>Demo Application</h2>
  </div>

  <ion-list>
    <ion-list-header>Versions</ion-list-header>
    <ion-item>
      <ion-label>Angular</ion-label>
      <ion-note slot="end">{{ angularVersion }}</ion-note>
    </ion-item>
    <ion-item>
      <ion-label>Ionic Framework</ion-label>
      <ion-note slot="end">{{ frameworkVersion }}</ion-note>
    </ion-item>
    <ion-item>
      <ion-label>Capacitor</ion-label>
      <ion-note slot="end">{{ capacitorVersion }}</ion-note>
    </ion-item>
    <ion-item>
      <ion-label>Auth Connect</ion-label>
      <ion-note slot="end">{{ authConnectVersion }}</ion-note>
    </ion-item>
    <ion-item>
      <ion-label>Identity Vault</ion-label>
      <ion-note slot="end">{{ identityVaultVersion }}</ion-note>
    </ion-item>

    <ion-list-header>System</ion-list-header>
    <ion-item>
      <ion-label>Authentication Mode</ion-label>
      <ion-note slot="end">{{authMode}}</ion-note>
    </ion-item>
    <ion-item>
      <ion-label>Biometric Type</ion-label>
      <ion-note slot="end">{{bioType}}</ion-note>
    </ion-item>

    <ion-list-header>User</ion-list-header>
    <ion-item>
      <ion-label>Email</ion-label>
      <ion-note slot="end">{{user && user.email}}</ion-note>
    </ion-item>
  </ion-list>
</ion-content>
