<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding ion-text-center">
  <ion-button expand="full" (click)="signInClicked()" color="tertiary"
    >Sign in</ion-button
  >
  <ion-button expand="full" (click)="signOutClicked()" color="danger"
    >Sign out</ion-button
  >
  <div *ngIf="loginType" class="unlock-app" (click)="unlockClicked()">
    <ion-icon name="lock-open"></ion-icon>
    <div>{{ loginType }}</div>
  </div>

  <div class="error-message">{{ errorMessage }}</div>
</ion-content>
